# **IncomePredictor: Predicting Economic Disparities Using ML**

## **1. Bussiness Understanding**
Income inequality, where earnings are unevenly distributed across a population, is an escalating issue in developing nations worldwide. As AI and automation technologies advance, this disparity may worsen unless proactive measures are taken.

The goal of this project is to develop a machine learning model that can predict whether an individual with certain characteristics would earn above or below a threshold of $50,000.00.

By implementing this solution, the cost and accuracy of tracking critical population metrics, such as income levels, between census periods can be significantly improved. The project will enable policymakers to make more informed decisions and take effective actions to reduce income inequality on a global scale.

### 1.1. Hypothesis Testing
- **Null Hypothesis (Ho):** Level of education has no statistical significance influence on Income limit 
- **Alternate Hypothesis (Ha):** Level of education has statistical significance influence on Income limit

### 1.2. Analytical Question
1. How does income vary across different levels of education and types of educational institutions?
2. How does employment status (full-time, part-time, unemployed) relate to wage levels?
3. Does race influence the income limits a person can achieve?
4. From individual demographics, what factors influence an individual’s wage per hour?
5. How does gender influence employment status and income level?
6. How does moving within a region or to a different region affect employment status?
7. How Does Gender Impact Income Levels?

## **2. Data Understansding**
The dataset consists of various features that provide detailed information about individuals, ranging from demographic details to employment and migration history.<br>

`Key Features:`

<div style="display: flex; justify-content: space-between;">
<div style="width: 50%;">

- **ID**: Unique identifier for each individual.
- **age**: Age of the individual.
- **gender**: Gender of the individual.
- **education**: Level of education of the individual.
- **class**: Social class of the individual.
- **education_institute**: Type of educational institution attended.
- **marital_status**: Marital status of the individual.
- **race**: Race of the individual.
- **is_hispanic**: Indicator for Hispanic ethnicity.
- **employment_commitment**: Employment status of the individual.
- **unemployment_reason**: Reason for unemployment.
- **employment_stat**: Employment status of the individual.
- **wage_per_hour**: Hourly wage of the individual.
- **is_labor_union**: Membership in a labor union.
- **working_week_per_year**: Number of weeks worked per year.
- **industry_code**: Code representing the industry of employment.
- **industry_code_main**: Main industry code.
- **occupation_code**: Code representing the occupation.
- **occupation_code_main**: Main occupation code.
- **total_employed**: Total number of individuals employed.
- **household_stat**: Household status.
- **household_summary**: Summary of household information.

</div>
<div style="width: 50%;">

- **under_18_family**: Presence of individuals under 18 in the family.
- **veterans_admin_questionnaire**: Veteran status questionnaire.
- **vet_benefit**: Veteran benefits received.
- **tax_status**: Tax status of the individual.
- **gains**: Financial gains.
- **losses**: Financial losses.
- **stocks_status**: Status of stocks owned.
- **citizenship**: Citizenship status.
- **mig_year**: Year of migration.
- **country_of_birth_own**: Country of birth of the individual.
- **country_of_birth_father**: Country of birth of the individual’s father.
- **country_of_birth_mother**: Country of birth of the individual’s mother.
- **migration_code_change_in_msa**: Code for change in MSA migration.
- **migration_prev_sunbelt**: Previous migration status in the Sunbelt.
- **migration_code_move_within_reg**: Code for moving within a region.
- **migration_code_change_in_reg**: Code for change in region migration.
- **residence_1_year_ago**: Previous residence status.
- **old_residence_reg**: Previous residence region.
- **old_residence_state**: Previous residence state.
- **importance_of_record**: Importance of the record.
- **income_above_limit**: Indicator for income above a certain limit.
</div>
</div>

### 2.1. Data Collection
#### Import libraries

In [1]:
# Data manipulation libraries
import numpy as np
import pandas as pd

# Data visualization libraries
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

#### Load csv file

In [4]:
# Load csv file
df = pd.read_csv("../data/train.csv")

# Preview dataframe
df.head(4)

,ID,age,gender,education,class,education_institute,marital_status,race,is_hispanic,employment_commitment,...,country_of_birth_mother,migration_code_change_in_msa,migration_prev_sunbelt,migration_code_move_within_reg,migration_code_change_in_reg,residence_1_year_ago,old_residence_reg,old_residence_state,importance_of_record,income_above_limit
0,ID_TZ0000,79,Female,High school graduate,NaN,NaN,Widowed,White,All other,Not in labor force,...,US,?,?,?,?,NaN,NaN,NaN,1779.74,Below limit
1,ID_TZ0001,65,Female,High school graduate,NaN,NaN,Widowed,White,All other,Children or Armed Forces,...,US,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,2366.75,Below limit
2,ID_TZ0002,21,Male,12th grade no diploma,Federal government,NaN,Never married,Black,All other,Children or Armed Forces,...,US,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,1693.42,Below limit
3,ID_TZ0003,2,Female,Children,NaN,NaN,Never married,Asian or Pacific Islander,All other,Children or Armed Forces,...,India,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,1380.27,Below limit

### 2.2. Exploratory Data Analysis

In [7]:
# Check characteristics of dataframe
print(df.info(), "\n====================== Null Value Count / Percentage ======================")
# Check for null values
print(pd.DataFrame({"null_value_count": df.isna().sum(), "percentage_null_value": df.isna().mean().mul(100) }), "\n====================== Duplicated rows ======================")
# Check for duplicated rows
print(df.duplicated().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209499 entries, 0 to 209498
Data columns (total 43 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   ID                              209499 non-null  object
 1   age                             209499 non-null  int64
 2   gender                          209499 non-null  object
 3   education                       209499 non-null  object
 4   class                           104254 non-null  object
 5   education_institute             13302 non-null   object
 6   marital_status                  209499 non-null  object
 7   race                            209499 non-null  object
 8   is_hispanic                     209499 non-null  object
 9   employment_commitment           209499 non-null  object
 10  unemployment_reason             6520 non-null    object
 11  employment_stat                 209499 non-null  int64
 12  wage_per_hour                   209499 non-null  int64
 13  is_labor_union                  20079 non-null   object
 14  working_week_per_year           209499 non-null  int64
 15  industry_code                   209499 non-null  int64
 16  industry_code_main              209499 non-null  object
 17  occupation_code                 209499 non-null  int64
 18  occupation_code_main            103805 non-null  object
 19  total_employed                  209499 non-null  int64
 20  household_stat                  209499 non-null  object
 21  household_summary               209499 non-null  object
 22  under_18_family                 57845 non-null   object
 23  veterans_admin_questionnaire    2084 non-null    object
 24  vet_benefit                     209499 non-null  int64
 25  tax_status                      209499 non-null  object
 26  gains                           209499 non-null  int64
 27  losses                          209499 non-null  int64
 28  stocks_status                   209499 non-null  int64
 29  citizenship                     209499 non-null  object
 30  mig_year                        209499 non-null  int64
 31  country_of_birth_own            209499 non-null  object
 32  country_of_birth_father         209499 non-null  object
 33  country_of_birth_mother         209499 non-null  object
 34  migration_code_change_in_msa    207911 non-null  object
 35  migration_prev_sunbelt          121047 non-null  object
 36  migration_code_move_within_reg  207911 non-null  object
 37  migration_code_change_in_reg    207911 non-null  object
 38  residence_1_year_ago            103215 non-null  object
 39  old_residence_reg               16351 non-null   object
 40  old_residence_state             16351 non-null   object
 41  importance_of_record            209499 non-null  float64
 42  income_above_limit              209499 non-null  object
dtypes: float64(1), int64(12), object(30)
memory usage: 68.7+ MB
None
====================== Null Value Count / Percentage ======================
                                null_value_count  percentage_null_value
ID                                             0               0.000000
age                                            0               0.000000
gender                                         0               0.000000
education                                      0               0.000000
class                                     105245              50.236517
education_institute                       196197              93.650566
marital_status                                 0               0.000000
race                                           0               0.000000
is_hispanic                                    0               0.000000
employment_commitment                          0               0.000000
unemployment_reason                       202979              96.887813
employment_stat                                0               0.000000
wage_per_hour                                  0               0.000000
is_labor_union                            189420              90.415706
working_week_per_year                          0               0.000000
industry_code                                  0               0.000000
industry_code_main                             0               0.000000
occupation_code                                0               0.000000
occupation_code_main                      105694              50.450837
total_employed                                 0               0.000000
household_stat                                 0               0.000000
household_summary                              0               0.000000
under_18_family                           151654              72.388890
veterans_admin_questionnaire              207415              99.005246
vet_benefit                                    0               0.000000
tax_status                                     0               0.000000
gains                                          0               0.000000
losses                                         0               0.000000
stocks_status                                  0               0.000000
citizenship                                    0               0.000000
mig_year                                       0               0.000000
country_of_birth_own                           0               0.000000
country_of_birth_father                        0               0.000000
country_of_birth_mother                        0               0.000000
migration_code_change_in_msa                1588               0.757999
migration_prev_sunbelt                     88452              42.220727
migration_code_move_within_reg              1588               0.757999
migration_code_change_in_reg                1588               0.757999
residence_1_year_ago                      106284              50.732462
old_residence_reg                         193148              92.195189
old_residence_state                       193148              92.195189
importance_of_record                           0               0.000000
income_above_limit                             0               0.000000
====================== Duplicated rows ======================
0

In [8]:
df.describe().style.background_gradient(cmap = "YlOrRd")

##### Key Insights:

- **Age Distribution:**
The average age is around 34.5 years with a wide range from 0 to 90 years, indicating a diverse age range in the dataset.

- **Employment Status:**
The average employment status suggests that a significant portion of individuals may be unemployed or have a low employment status.

- **Wage per Hour:**
There is considerable variability in hourly wages, with a mean of 55.43 but a very high standard deviation, suggesting that wages vary greatly among individuals.

- **Working Weeks per Year:**
Most individuals work fewer weeks per year on average (23.16 weeks), with a median of 8 weeks, indicating many work part-time or seasonally.

- **Industry and Occupation Codes:**
A wide range of industry and occupation codes are present, but many records have these fields as zero, suggesting either missing data or individuals not associated with specific industries or occupations.

- **Veteran Benefits:**
Most individuals receive veteran benefits, with low variability in the benefit amount.

- **Financial Gains and Losses:**
High variability in financial gains and losses is observed, with many individuals reporting zero gains or losses, and extreme values present in the dataset.

- **Stock Status:**
A small portion of the population owns stocks, but the values vary widely among those who do.

- **Migration Year:**
Migration data is relatively consistent, with a narrow range of years, suggesting that the migration data pertains to a specific period.

- **Importance of Record:**
There is significant variability in the importance of records, indicating differing levels of relevance or significance among data points.